.root {
    -fx-background-color: black;
}

.list-cell {
    -fx-background-color: white;
    -fx-padding: 0;
}

.list-cell:hover:filled {
    -fx-background-color: #ddd;
}

.list-cell:selected:filled {
    -fx-background-color: #ccc;
    -fx-text-fill: black;
}

.list-view:focused .list-cell:filled:selected {
    -fx-background-color: #5a8ade;
    -fx-text-fill: white;
}

.list-view:focused .list-cell:filled:selected .ikonli-font-icon {
    -fx-icon-color: white;
}


.tree-cell {
    -fx-background-color: #eee;
}

.tree-view:focused .tree-cell:filled:selected {
    -fx-background-color: #5a8ade;
    -fx-text-fill: white;
}

.tree-view:focused .tree-cell:filled:selected .ikonli-font-icon {
    -fx-icon-color: white;
}

.tree-cell:hover:filled {
    -fx-background-color: #ccc;
}

.tree-cell:selected:filled {
    -fx-background-color: #bbb;
    -fx-text-fill: black;
}

.scroll-bar .thumb {
    -fx-background-color: #ddd;
}

.status-bar {
    -fx-background-color: #ddd;
}

.status-item:hover {
    -fx-background-color: #3c5c94;
}

.status-item:hover .label {
    -fx-text-fill: white;
}

.status-item:hover .ikonli-font-icon {
    -fx-icon-color: white;
}


.split-pane-divider {
    -fx-padding: 0 0 0 1;
}

.scroll-pane .thumb {
    -fx-background-color: #888;
}

/* NORMAL CELL */
.spreadsheet-cell:filled:selected,
.spreadsheet-cell:filled:focused:selected,
.spreadsheet-cell:filled:focused:selected:hover {
    /*-fx-background-color: #8cb1ff;*/
    -fx-background-color: #333;
    -fx-border-color: #555;
    -fx-border-width: 1px;
    -fx-text-fill: white;
}

.spreadsheet-cell:hover,
.spreadsheet-cell:filled:focused {
    /*-fx-background-color: #988490;*/
    -fx-text-fill: white;
    /*-fx-background-insets: 0, 0 0 1 0;*/
}

.spreadsheet-cell {
    -fx-padding: 0 0 0 0.2em;
    -fx-border-color: #555;
    -fx-border-width: 1px;
    -fx-text-fill: white;
    -fx-font-weight: normal;
    /*-fx-background-color: -fx-table-cell-border-color, white;*/
    -fx-background-color: black;
}

VerticalHeader > Label.selected {
    -fx-background-color: #3c5c94;
    -fx-border-color: #3c5c94;
    -fx-text-fill: white;
}

VerticalHeader > Label {
    -fx-background-color: #333;
    -fx-text-fill: white;
    -fx-border-color: #555;
    -fx-border-width: 1px;
}

HorizontalHeaderColumn > TableColumnHeader.column-header.table-column {
    -fx-background-color: #333;
    -fx-border-color: #555;
}

HorizontalHeaderColumn > TableColumnHeader.column-header.table-column > Label {
    -fx-text-fill: white;
}

.table-view .filler {
    -fx-background-color: black;
}

HorizontalHeaderColumn > TableColumnHeader.column-header.table-column.selected,
HorizontalHeaderColumn > TableColumnHeader.column-header.table-column.selected > Label {
    /*-fx-background-color: #5a8ade;*/
    -fx-background-color: #3c5c94;
    -fx-border-color: #3c5c94;
    -fx-text-fill: white;
}

.menu-item {
    -fx-padding: 3 8 3 8;
}

.menu-item:focused {
    -fx-background-color: #3c5c94;
}

.menu-item:focused .ikonli-font-icon {
    -fx-icon-color: white;
}

.selection-rectangle {
    -fx-fill: transparent;
    -fx-stroke: #3c5c94;
    -fx-stroke-width: 2;
}

.button {
    -fx-background-color: #3c5c94;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #5a8ade;
}

.button .ikonli-font-icon {
    -fx-icon-color: white
}

.master-tab-icon-container {
    -fx-background-color: #333;
}

.master-tab-icon-container .ikonli-font-icon{
    -fx-icon-color: #888;
}

.master-tab-icon-container HBox:hover .ikonli-font-icon{
    -fx-icon-color: white;
}

.master-tab-view {
    -fx-background-color: #444;
}

.master-tab-icon-selected {
    -fx-background-color: #444;
}

.master-tab-icon-selected .ikonli-font-icon {
    -fx-icon-color: white;
}


.master-cancel:hover .ikonli-font-icon{
    -fx-icon-color: #f11;
}

.master-cancel .ikonli-font-icon{
    -fx-icon-color: #c00;
}

.master-ok:hover .ikonli-font-icon{
    -fx-icon-color: #0b0;
}

.master-ok .ikonli-font-icon{
    -fx-icon-color: #080;
}