.text {
    -fx-font-family: "Roboto", "Segoe UI", "Arial", sans-serif;
    -fx-font-smoothing-type: gray;
}

.list-view {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-padding: 0;
}

.tree-view {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-width: 0;
}

.table-view {
    -fx-background-color: transparent;
}

.scroll-bar .increment-button {
    -fx-opacity: 0;
    -fx-pref-height: 0;
    -fx-pref-width: 0;
}

.scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-pref-height: 0;
    -fx-pref-width: 0;
}

.scroll-bar {
    -fx-pref-width: 10;
    -fx-background-color: transparent;
}

.scroll-bar .track-background {
    visibility: hidden;
}

.scroll-bar .track {
    visibility: hidden;
}


.status-item {
    -fx-padding: 5 15 5 15;
    -fx-spacing: 6;
    -fx-alignment: CENTER-LEFT;
}


.split-pane-divider {
    -fx-padding: 0 0 0 1;
}

.no-border-pane {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.text-field {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}